{% load static %}


<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    
    <div class="section-title">
      <h2>{{sectionInMain.get_name_display}}</h2>
      <p>{{sectionInMain.description}}</p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        
        {% if not the_hero.userprofile.avatar  %}
        <img src="{% static 'img/avatar/default_avatar.jpg' %}" class="img-fluid" width="100%" height="auto" alt="">  
        {% else %}
        <img src="{{the_hero.userprofile.avatar.url}}" class="img-fluid" width="100%" height="auto" alt="">  
        {% endif %}
        
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>{{the_hero.userprofile.title}}</h3>
        <p class="fst-italic">
          {% if the_hero.userprofile.description is not None %}
          {{the_hero.userprofile.description}}
          {% endif %}
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Date de naissance:</strong> <span>{{the_hero.userprofile.birth_date}}</span></li>
              {% comment %} <li><i class="bi bi-chevron-right"></i> <strong>Site web:</strong> <span>...</span></li> {% endcomment %}
              <li><i class="bi bi-chevron-right"></i> <strong>Téléphone:</strong> <span>{{the_hero.userprofile.phone}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Wilaya:</strong> <span>{{the_hero.userprofile.location}}</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{the_hero.userprofile.age}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Diplôme:</strong> <span>{{the_hero.userprofile.degree}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{the_hero.userprofile.email}}</span></li>
              {% comment %} <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> {% endcomment %}
            </ul>
          </div>
        </div>
        <p>
          {{the_hero.userprofile.bio}}
        </p>
      </div>
    </div>

  </div>
</section>