{% load static %}
<footer id="footer">
    <div class="container">
        
        {% if the_hero == None %}
        <p>Cette page est réalisée pour présenter des cv pour des profile utilisateurs</p>
        {% else %}
        <h3>{{the_hero.userprofile.first_name}} {{the_hero.userprofile.last_name}}</h3>
        <p>Merci d'avoir pris le temps pour visiter mon CV </p>
        <div class="social-links"> 
            {% if the_hero.userprofile.twitter is not None %}<a href="{{the_hero.userprofile.twitter}}" class="twitter"><i class="bx bxl-twitter"></i></a>
            {% else %}<a href="#hero" class="twitter"><i class="bx bxl-twitter"></i></a>{% endif %}
            {% if the_hero.userprofile.facebook is not None %}<a href="{{the_hero.userprofile.facebook}}" class="facebook"><i class="bx bxl-facebook"></i></a>
            {% else %}<a href="#hero" class="facebook"><i class="bx bxl-facebook"></i></a>{% endif %}
            {% if the_hero.userprofile.instagram is not None %}<a href="{{the_hero.userprofile.instagram}}" class="instagram"><i class="bx bxl-instagram"></i></a>
            {% else %}<a href="#hero" class="instagram"><i class="bx bxl-instagram"></i></a>{% endif %}
            {% if the_hero.userprofile.github is not None %}<a href="{{the_hero.userprofile.github}}" class="google-plus"><i class="bx bxl-github"></i></a>
            {% else %}<a href="#hero" class="google-plus"><i class="bx bxl-github"></i></a>{% endif %}
            {% if the_hero.userprofile.linkedin is not None %}<a href="{{the_hero.userprofile.linkedin}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            {% else %}<a href="#hero"  class="linkedin"><i class="bx bxl-linkedin"></i></a>{% endif %}
          </div>
        {% endif %}
        <div class="copyright">
            &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: [license-url] -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
  </footer>